Repository hmcts/finrem-document-generator-client, pull requests merged in 2019-02, with the labels that each got.

#14 added swagger documentation and fixed vulnerabilities
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  src/kubernetes/config.aat.yaml
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementService.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/HttpConnectionConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/SwaggerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/MiniFormAGenerateE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/PdfDocumentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementServiceTest.java
  src/test/resources/application.properties
  src/test/resources/fixtures/invalid-doc-request.json
  src/test/resources/fixtures/valid-doc-request.json
Labels: ns:finrem-dgcs-pr-14

#20 FR_716_smoke_tests
  build.gradle
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/documentgenerator/smoketests/DocumentGeneratorSmokeTests.java
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/documentgenerator/smoketests/SmokeTestConfiguration.java
  src/smokeTest/resources/application.properties
Labels: ns:finrem-dgcs-pr-20

#19 added http timeouts
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/HttpConnectionConfiguration.java
  src/main/resources/application.yml
  src/test/resources/application.properties
Labels: ns:finrem-dgcs-pr-19

#22 FR_716_smoke_tests
  src/smokeTest/resources/application.properties
Labels: ns:finrem-dgcs-pr-22

#23 disable swagger on prod and don't send client stack trace
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandler.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/TestResource.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/MiniFormAGenerateE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/FileUploadResponseTest.java
Labels: ns:finrem-dgcs-pr-23

#24 FR_716_smoke_tests
  src/smokeTest/java/uk/gov/hmcts/reform/finrem/documentgenerator/smoketests/DocumentGeneratorSmokeTests.java
  src/smokeTest/resources/application.properties
Labels: ns:finrem-dgcs-pr-24

#25 added docmosi vault uri to terraform vars file
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/kubernetes/config.aat.yaml
Labels: ns:finrem-dgcs-pr-25

#26 adding back docmosis vault related stuff
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/kubernetes/config.aat.yaml
Labels: ns:finrem-dgcs-pr-26
