Repository hmcts/finrem-document-generator-client, pull requests merged in 2019-07, with the labels that each got.

#39 FR-862: bulk print integration with dgc
  build.gradle
  charts/finrem-dgcs/values.aat.template.yaml
  charts/finrem-dgcs/values.preview.template.yaml
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/TestContextConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/DocumentGeneratorApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/health/SendLetterServiceHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/health/ServiceAuthProviderHealthCheck.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/BulkPrintDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/BulkPrintRequest.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementService.java
  src/main/resources/application.yml
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-dgcs-pr-39

#40 FR-1216: Refactoring bulk print
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintDocumentService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintService.java
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintServiceTest.java
Labels: ns:finrem-dgcs-pr-40

#41 bulk printing functional Tests
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/IntegrationTestBase.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/idam/IdamUtils.java
  src/functionalTests/resources/application.properties
  src/functionalTests/resources/json/bulkprinting.json
  src/functionalTests/resources/json/document-rejected-order1.json
  src/functionalTests/resources/json/generate-contested-form-A1.json
  src/functionalTests/resources/json/validate-hearing-with-fastTrackDecision1.json
  src/functionalTests/resources/json/validate-hearing-with-hearingdate1.json
  src/functionalTests/resources/json/validate-hearing-withoutfastTrackDecision1.json
Labels: ns:finrem-dgcs-pr-41

#42 Fr 1261 File Type Validation
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentValidationController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentValidationResponse.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentValidationService.java
  src/main/resources/application.yml
  src/smokeTest/resources/application.properties
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/CaseDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentValidationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentValidationServiceTest.java
  src/test/resources/application.properties
Labels: ns:finrem-dgcs-pr-42

#43 FR 1121 & FR 1260 annex and stamping pdf docs
  build.gradle
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/resources/application-local.properties
  src/functionalTests/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/StampDocumentController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/StampDocumentException.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/Document.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/PDFAnnexStampingInfo.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementService.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/PDFStampingService.java
  src/main/resources/annex.png
  src/main/resources/annex_left_90.png
  src/main/resources/annex_right_90.png
  src/main/resources/annex_upside_down.png
  src/main/resources/courtseal.pdf
  src/main/resources/courtseal.png
  src/main/resources/courtseal_left_90.png
  src/main/resources/courtseal_right_90.png
  src/main/resources/courtseal_upside_down.png
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/TestResource.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/StampDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/OnlineFormAGenerateE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/PDFAnnexStampingInfoTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/PDFStampingServiceTest.java
Labels: ns:finrem-dgcs-pr-43

#45 Functional test for stamping end point
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/IntegrationTestBase.java
  src/functionalTests/java/uk/gov/hmcts/reform/finrem/functional/documents/FinancialRemedyDocumentGeneratorTests.java
  src/functionalTests/resources/application.properties
Labels: ns:finrem-dgcs-pr-45
