Repository hmcts/finrem-document-generator-client, pull requests merged in 2020-05, with the labels that each got.

#64 AKS migration prep
  Dockerfile
  charts/finrem-dgcs/Chart.yaml
  charts/finrem-dgcs/values.preview.template.yaml
  charts/finrem-dgcs/values.yaml
  dependency-check-suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:financial-remedy, rel:finrem-dgcs-pr-64

#68 Swap to AKS
  Jenkinsfile_CNP
Labels: ns:financial-remedy, rel:finrem-dgcs-pr-68

#70 Cleaning ASE
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:financial-remedy, rel:finrem-dgcs-pr-70

#71 RPET-215: Remove PI from Logs
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentController.java
Labels: ns:financial-remedy, rel:finrem-dgcs-pr-71

#72 Bumped gradlew from 6.1.1 to 6.4.1 and removed deprecated features
  Jenkinsfile_CNP
  build.gradle
  checkstyle.xml
  dependency-check-suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/DocumentGeneratorApplication.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintController.java
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/PdfDocumentRequest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/HttpConnectionConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/PdfDocumentConfigTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/config/SwaggerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/BulkPrintControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DeleteDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/controller/DocumentValidationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/e2etest/OnlineFormAGenerateE2ETest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/health/AbstractServiceHealthCheckTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/CaseDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/DocumentValidationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/FileUploadResponseTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/model/PdfDocumentRequestTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/BulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocmosisPdfGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/DocumentValidationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/EvidenceManagementServiceTest.java
Labels: ns:financial-remedy, rel:finrem-dgcs-pr-72
