Repository hmcts/finrem-document-generator-client, pull requests merged in 2020-07, with the labels that each got.

#81 add vars to fix docmosis error
  build.gradle
  charts/finrem-dgcs/Chart.yaml
  charts/finrem-dgcs/values.aat.template.yaml
  charts/finrem-dgcs/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-81

#80 update tomcat version and ignore cookie errors
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-80

#79 RPET-261-encryption-error-on-approval
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/service/PdfStampingService.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-79

#82 Upgrading to java 11
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-82
