Repository hmcts/finrem-document-generator-client, pull requests merged in 2021-02, with the labels that each got.

#95 Upgrade Helm chart API version to v2
  charts/finrem-dgcs/Chart.yaml
  charts/finrem-dgcs/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-95

#97 Update base chart to latest version
  build.gradle
  charts/finrem-dgcs/Chart.yaml
  src/main/resources/application.yml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-97

#98 ignore zap false positives.
  audit.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-98
