Repository hmcts/finrem-document-generator-client, pull requests merged in 2022-03, with the labels that each got.

#115 DFR-589 Add advice method
  src/main/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/finrem/documentgenerator/error/GlobalExceptionHandlerTest.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-115

#116 CVE 2020 36518 patch
  build.gradle
  charts/finrem-dgcs/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-116

#117 suppress jackson vul until fixed version available
  dependency-check-suppressions.xml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-dgcs-pr-117
